
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Browsing Computers</title>
		<meta name="description" content="browsing items page">
		<meta name="author" content="Abbas Mohamed Al-Amin">
		<link href="../style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<ul id="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/cart">My Cart</a></li>
			<li><a href="/add-item">Add an item</a></li>
		</ul> <hr>

		<h1>Browse:</h1>
		
		<form action="/browse" method="get">
			<input type="text" name="q" value="{{query}}">
			<input type="submit" value="Search">
		</form>

		<ul style="text-align:center">
			{{#each items}}
			<li style="display:inline-block">
				<table style="width: 100%">
					<tr>
						<td>
							<a href="/details/{{this.id}}"><img src="{{this.imageSRC}}" height="200", width="auto"></a>
						</td>
					</tr>
					<tr><td><a href="/details/{{this.id}}">{{this.name}}</a></td></tr>
					<tr><td>£{{formatPrice this.price}}	</td></tr>
				</table>
			</li>		
			{{/each}}
		</ul>
		</body>
</html>
