
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Item Cart</title>
		<meta name="description" content="browsing items added to cart">
		<meta name="author" content="Abbas Mohamed Al-Amin">
		<link href="../style.css" type="text/css" rel="stylesheet" />
		<style>
		th, td {
			text-align: left;
			border: 0px;
			padding: 10px;
		}

		tr:nth-child(even) {
			background-color: #c7c7c7;
		}
		tr:nth-child(odd) {
			background-color: #d1d1d1;
		}
	
		</style>
	</head>
	<body>
		<ul id="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/cart">My Cart</a></li>
			<li><a href="/add-item">Add an item</a></li>
			<li><a href="/settings">Account Settings</a></li>
		</ul> <hr>

		<h1>Shopping Cart</h1>

			{{#if cartItems}}
				<table style="width:60%;">
					<tr style="background-color:white;">
						<th>Item Image:</th>
						<th>Item Name:</th>
						<th>Item Price:</th>
						<th>Remove Item?</th>
					</tr>
					{{#each cartItems}}
					<tr>
						<td style="padding-left: 0px; background-color:white; width:10%; text-align: center;"> 
							<a href="/details/{{this.id}}"><img src="{{this.imageSRC}}", height="200", width="auto", margin-left="auto", margin-right="auto"></a>
						</td>
						<td><a href="/details/{{this.id}}">{{this.color}} {{this.size}} {{this.name}}</a></td>
						<td>£{{formatPrice this.price}}</td>
						<td>
							<form action="/remove-from-cart" enctype="multipart/form-data" method="post">
								<input type="hidden" name="size" value="{{this.size}}">
								<input type="hidden" name="color" value="{{this.color}}">
								<input type="hidden" name="id" value="{{this.id}}">
								<input type="hidden" name="name" value="{{this.name}}">
								<input type="hidden" name="price" value="{{this.price}}">
								<input type="hidden" name="imageSRC" value="{{this.imageSRC}}">
								<input type="submit" value="Remove from cart">
							</form>
						</td>
					</tr>
					{{/each}}
					<tr>
						<td style="background-color:white;"></td>
						<td style="font-weight:bold; text-align:right;">Total:</td>
						<td>£{{formatPrice totalItemPrice}} </td>
						
					</tr>
				</table>
			{{else}}
				<p> Your cart is empty. </p>
			{{/if}}

	</body>
</html>
