
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{data.name}} | Details</title>
		<meta name="description" content="Item Description and Purchase Page">
		<meta name="author" content="Abbas Mohamed Al-Amin">
		<link href="../style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<ul id="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/cart">My Cart</a></li>
			<li><a href="/add-item">Add an item</a></li>
		</ul> <hr>

		<h1>{{data.name}}</h1>
		<ul>
			{{#each imagePaths}}
				<li style="display:inline-block">
					<img src="../{{this}}", height="200", width="auto">
				</li>
			{{/each}}
		</ul>
		
		<p>{{data.description}}</p>
		<p>£{{formatPrice data.price}}</p>

		<form action="/cart" enctype="multipart/form-data" method="post">
			{{#if itemOptions}}
				{{#each itemOptions}}

				{{#if this}}
					<nobr>{{@key}}:</nobr>
					<select name="{{@key}}">
						{{#each this}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
				{{/if}}
				{{/each}}
				
			{{else}}
				<input type="hidden" name="size" value="">
				<input type="hidden" name="color" value="">
			{{/if}}

			
			<input type="hidden" name="id" value="{{data.id}}">
			<input type="hidden" name="name" value="{{data.name}}">
			<input type="hidden" name="price" value="{{data.price}}">
			<input type="hidden" name="imageSRC" value="{{data.imageSRC}}">
			<input type="submit" value="Add to cart">
		</form>
	</body>
</html>
